[submodule "magit"]
	path = lisp/magit
	url = git@github.com:magit/magit.git
[submodule "predictive"]
	path = predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "auto-complete-etags"]
	path = auto-complete-etags
	url = git@github.com:whitypig/auto-complete-etags.git
[submodule "plantuml-mode"]
	path = plantuml-mode
	url = https://github.com/zwz/plantuml-mode.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "ggtags"]
	path = ggtags
	url = https://github.com/leoliu/ggtags.git
[submodule "neotree"]
	path = neotree
	url = https://github.com/jaypei/emacs-neotree.git
