[submodule "magit"]
	path = lisp/magit
	url = git@github.com:magit/magit.git
[submodule "predictive"]
	path = predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "plantuml-mode"]
	path = lisp/plantuml-mode
	url = https://github.com/zwz/plantuml-mode.git
[submodule "git-modes"]
	path = lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "ggtags"]
	path = lisp/ggtags
	url = https://github.com/leoliu/ggtags.git
[submodule "neotree"]
	path = lisp/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "lisp/undo-tree"]
	path = lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git/
[submodule "lisp/bm"]
	path = lisp/bm
	url = https://github.com/joodland/bm.git
[submodule "lisp/iedit"]
	path = lisp/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "lisp/dtrt-indent"]
	path = lisp/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent.git
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "lisp/popup"]
	path = lisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "lisp/company-mode"]
	path = lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "god-mode"]
	path = god-mode
	url = https://github.com/chrisdone/god-mode.git

[submodule "lisp/elpy"]
	path = lisp/elpy
	url = https://github.com/jorgenschaefer/elpy.git
[submodule "lisp/pyvenv"]
	path = lisp/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "lisp/highlight-indentation"]
	path = lisp/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs/
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
