[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "emacs-google-this"]
	path = emacs-google-this
	url = git@github.com:Bruce-Connor/emacs-google-this.git
[submodule "predictive"]
	path = predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "auto-complete-etags"]
	path = auto-complete-etags
	url = git@github.com:whitypig/auto-complete-etags.git
[submodule "plantuml-mode"]
	path = plantuml-mode
	url = https://github.com/zwz/plantuml-mode.git
[submodule "replace-plus"]
	path = replace-plus
	url = https://github.com/emacsmirror/replace-plus.git
